.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__content {
  margin: 0;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  width: 436px;
  box-sizing: border-box;

  border-width: 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__title {
  display: block;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.modal__close {
  display: flex;
  position: absolute;
  top: 22px;
  right: 30px;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
  background-image: url("../../assets/close_btn.svg");
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
}

.modal__legend {
  margin: 8px 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__radio-button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.modal__radio-input {
  margin: 0 8px 0 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__button-group {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 16px;
  margin: 0;
}

.modal__submit {
  display: flex;

  width: 128px;
  height: 36px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 8px;
  margin: 32px 0 0 0;
  border: none;
  background: rgba(0, 0, 0, 1);

  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;
}

.modal__alt-link {
  width: 128px;
  height: 36px;
  border-radius: 4px;

  padding-right: 16px;
  padding-top: 25px;

  gap: 8px;

  border: none;
  background: transparent;

  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: black;
}

.modal__label_type_radio {
  font-family: Cabinet Grotesk;
  /* font-weight: 700; */
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal_opened {
  visibility: visible;
  /* z-index: 1000; */
}

.modal__label_type_radio--selected {
  font-weight: 700;
}

.modal__submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
