.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
}

.card__image {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 21px;
  border-radius: 24px;
  width: 100%;
}
