.header {
  padding: 32px 40px 28px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.header__container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-location {
  font-size: 18px;
  font-weight: 500;
}

.header__add-clothes-btn {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header__signout-button {
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.header__signup-link,
.header__login-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.header__signup-link:hover,
.header__login-link:hover {
  text-decoration: underline;
}

.header__auth-button {
  font-weight: bold;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.header__auth-button:hover {
  text-decoration: underline;
}
